.rc-intro {
  background-color: #222;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.rc-img {
  max-width: 50px;
}

.rc-title {
  font-size: 5rem;
  margin-top: 3rem;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 700;
  letter-spacing: -2px;
}

.rc-description {
  margin-top: 2rem;
  font-size: 2rem;
  color: #ccc;
}

.table-striped {
  border: solid 1px #ddd;
  tbody > tr {
    &:hover {
      background: #eeeeee;
      cursor: pointer;
      transition: all .5s;
    }
  }
}

.btn:hover {
  transition: all .5s;
}

.toolbar .btn {
  margin-right: 1rem;
}

/*   smile  */
.smile { width: 200px; height: 200px; position: relative;
  .eye{
    width: 10px;
    height: 10px;
    float: left;
  }
  .eye:after{
    content: '';
    border: solid 1px #000;
    position: absolute;
    width: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .eye:before{
    content: '';
    border: solid 1px #000;
    position: absolute;
    width: 10px;
    left:8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .eye:nth-of-type(2){
    position: absolute;
    left: 30px;
    -webkit-animation: last_ 3s infinite linear;
    animation: last_ 3s infinite linear;
  }
  .eye:nth-of-type(1){
    -webkit-animation: first_ 3s infinite linear;
    animation: first_ 3s infinite linear;
  }
  div:nth-of-type(3){
    position: absolute;
    content: '';
    border: solid 1px #000;
    width: 8px;
    left: 21px;
    top: 10px;
  }
}

/*   *****  */
.preloader {
  //background: radial-gradient(ellipse at center,  #34679a 0%,#214163 47%,#0d1926 100%);
  &__wrapper {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    width: 100%;
    animation: fadeIn .8s;
  }
}

.preloader > div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -103px;
  margin-top: -103px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #40c4ff;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(80deg) rotateY(20deg);
  transform-style: preserve-3d;
  transform: rotateX(80deg) rotateY(20deg);
}

.preloader > div:first-of-type:after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background: #40c4ff;
  border-radius: 50%;
  -webkit-transform: rotateX(-80deg) rotateY(0deg);
  transform: rotateX(-80deg) rotateY(0deg);
  box-shadow: 0 0 25px #40c4ff;
  -webkit-animation: nucleus_ 1s infinite linear;
  animation: nucleus_ 1s infinite linear;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.preloader > div:nth-of-type(2) {
  -webkit-transform: rotateX(-80deg) rotateY(20deg);
  transform: rotateX(-80deg) rotateY(20deg);
}

.preloader > div:nth-of-type(3) {
  -webkit-transform: rotateX(-70deg) rotateY(60deg);
  transform: rotateX(-70deg) rotateY(60deg);
}

.preloader > div:nth-of-type(4) {
  -webkit-transform: rotateX(70deg) rotateY(60deg);
  transform: rotateX(70deg) rotateY(60deg);
}

.preloader > div > div {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: trail_ 1s infinite ease-in-out;
  transform-style: preserve-3d;
  animation: trail_ 1s infinite ease-in-out;
}

.preloader > div > div:after {
  content: "";
  position: absolute;
  top: -5px;
  box-shadow: 0 0 12px #40c4ff;
  left: 50%;
  margin-left: -5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #40c4ff;
  -webkit-animation: particle_ 1s infinite linear;
  animation: particle_ 1s infinite linear;
}

.preloader > div:nth-of-type(2) > div,
.preloader > div:nth-of-type(2) > div:after {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s;
}

.preloader > div:nth-of-type(3) > div,
.preloader > div:nth-of-type(3) > div:after {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.preloader > div:nth-of-type(4) > div,
.preloader > div:nth-of-type(4) > div:after {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

@-webkit-keyframes trail_ {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}

@keyframes trail_ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes particle_ {
  from {
    -webkit-transform: rotateX(90deg) rotateY(0deg);
    transform: rotateX(90deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(90deg) rotateY(-360deg);
    transform: rotateX(90deg) rotateY(-360deg);
  }
}

@keyframes particle_ {
  from {
    transform: rotateX(90deg) rotateY(0deg);
  }
  to {
    transform: rotateX(90deg) rotateY(-360deg);
  }
}/*
top: -9px;
left: 4px;
transform: rotate(90deg);


left: 38px;
transform: rotate(-90deg);*/
@keyframes first_ {
  0% {
    top: 0px;
    left: 30px;
    transform: rotate(0deg);
  }
  50%{
    top: -9px;
    left: 4px;
    transform: rotate(90deg);
  }
  100% {
    top: 0px;
    left: 30px;
    transform: rotate(0deg);
  }
}
@keyframes last_ {
  0% {
    top: 0px;
    left: 30px;
    transform: rotate(0deg);
  }
  50%{
    top: 9px;
    left: 38px;
    transform: rotate(-90deg);
  }
  100% {
    top: 0px;
    left: 30px;
    transform: rotate(0deg);
  }
}

@-webkit-keyframes nucleus_ {
  0% {
    box-shadow: 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 50px #40c4ff;
  }
  100% {
    box-shadow: 0 0 0 transparent;
  }
}

@keyframes fadeIn {
  from {
    background: transparentize(#fff, 0);
  }
  to {
    background: transparentize(#fff, .9);
  }
}
